.App {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h1 {
  color: white;
  font-size: 10rem;
  letter-spacing: 0.5rem;
}
.discord-btn {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border-radius: 12px;
  border: white solid 2px;
  padding: 1.2vh 8vh;
  margin: 2vh 5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.apply-btn {
  background-color: white;
  border: none;
  font-size: 2rem;
  border-radius: 12px;
  padding: 1.2vh 11vh;
  margin: 2vh 5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
